head{
  width:auto;
  margin: auto;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: 1.25em;
}

#header{
  padding: 15%;
  text-align: left;
  background-color: #fcd12a;
}

#byline{
  font-size: 1.1em;
}

#content{
  width: 60%;
  margin: auto; 
}