@font-face {
    font-family: 'Sofia Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Sofia Pro Light'), url('Sofia Pro Light Az.woff') format('woff');
    }
    @font-face {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: normal;
        src: local('Sofia Pro'), url('Sofia Pro Az.woff') format('woff');
        }

body {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #FDEDEC;
    color: #3d110c;
    font-family: Sofia Pro Light;
  }
  
  h1 {
    font-size: 3em;
    color:#641E16;
    font-family: Sofia Pro;
  }
  
  #byline {
    font-size: 1.1em;
  }
  
  p {
    font-size:1.3em;
    line-height:1.2em;
    padding-bottom:20px;
  }
  
  .img-container {
    width:100%;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  li {
    font-size: 1.3em;
  }
  
  img{
    margin: auto;
    display: block;
  }
  
  .cutline {
    font-size:10px;
  }
  
  #contact {
    border: 1px solid black;
    padding:10px;
    font-style:italic;
  }
  
  #content {
    width:70%;
    margin:auto;
  }
  
  @media (orientation:portrait) {
    #content {
      width: 100%;
    }
  }
  